@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$theme-clr: #b71cd2;
$sec-clr: #350ae7;
$grey-clr: #515862;
$text-dark: #212121;
$light-clr: #c0cbdb;
$light-dark: #9fa9b9;
$bg-dark: #091930;
$bg-light: #ebeef8;
$white: #ffffff;
$black: #000000;
$grey:#E7E9ED;

$primary-font: "Manrope", sans-serif;
$sec-font: "Montserrat", sans-serif;

.theme-btn {
  background-image: linear-gradient(
    to right,
    $theme-clr 0%,
    $sec-clr 51%,
    $theme-clr 100%
  );
  background-size: 200% auto;
  padding: 0.5rem 0.75rem;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  transition: 0.3s;
  color: $white;
  border-radius: 5px;
  &:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}

.toggle-btn {
  #menuToggle {
    display: none;
  }

  .toggle {
    position: relative;
    width: 30px;
    cursor: pointer;
    margin: auto;
    display: block;
    height: calc(4px * 3 + 11px * 2);
  }

  .bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 4px;
    border-radius: calc(4px / 2);
    background: $theme-clr;
    color: inherit;
    opacity: 1;
    transition: none 0.35s cubic-bezier(0.5, -0.35, 0.35, 1.5) 0s;
  }

  /***** Spin Animation *****/

  .bar--top {
    bottom: calc(50% + 11px + 4px / 2);
    transition-property: bottom, transform;
    transition-delay: calc(0s + 0.35s), 0s;
  }

  .bar--middle {
    top: calc(50% - 4px / 2);
    transition-property: opacity;
    transition-delay: calc(0s + 0.35s);
    width: 80%;
  }

  .bar--bottom {
    top: calc(50% + 11px + 4px / 2);
    transition-property: top, transform;
    transition-delay: calc(0s + 0.35s), 0s;
  }

  &[aria-expanded="true"] {
    #menuToggle:checked + .toggle .bar--top {
      bottom: calc(50% - 4px / 2);
      transform: rotate(135deg);
      transition-delay: 0s, calc(0s + 0.35s);
    }

    #menuToggle:checked + .toggle .bar--middle {
      opacity: 0;
      transition-duration: 0s;
      transition-delay: calc(0s + 0.35s);
    }

    #menuToggle:checked + .toggle .bar--bottom {
      top: calc(50% - 4px / 2);
      transform: rotate(225deg);
      transition-delay: 0s, calc(0s + 0.35s);
    }
  }
}

.sec-label {
  font-size: 14px;
  color: $grey-clr;
  text-transform: uppercase;
  font-weight: bold;
}

.lead{
    font-size: 14px;
    color: $grey-clr;
    font-weight: 500;
}


.sec-title{
  font-weight: bold;
  color: $light-clr;
}